<p>W Librusie dla konta {{ user_config.librus_login }} <strong>({{ user_config.librus_login_name or user_config.librus_login }})</strong> pojawiły się <strong>nowe ogłoszenia</strong>.</p>
<p>&nbsp;</p>
<p>Lista wszystkich ogłoszeń (nowe <strong>boldem</strong>):</p>
<table border="1" cellspacing="0" cellpadding="10">
<thead><tr><th>Tytuł</th><th>Nadawca</th><th>Data</th></tr></thead>
<tbody>
{% for notification in notifications %}
  {% if notification.is_unread %}
    <tr>
      <td><strong>{{ notification.title }}</strong></td>
      <td><strong>{{ notification.sender }}</strong></td>
      <td><strong>{{ notification.datetime }}</strong></td>
    {% if notification.body %}
    </tr><tr><td colspan="3">{{ notification.body | replace('\n', '<br>') | safe }}</td>
    {% endif %}
    </tr>
  {% else %}
    <tr>
      <td>{{ notification.title }}</td>
      <td>{{ notification.sender }}</td>
      <td>{{ notification.datetime }}</td>
    </tr>
  {% endif %}
{% endfor %}
</tbody>
</table>
